.model-backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 20;
  left: 61%;
}

.model-Overlay {
  position: absolute;
  left: 60%;
  z-index: 30;
  background-color: white;
}

/* Responsive styles */
@media (max-width: 768px) {
  .model-backdrop {
    left: 50%;
  }

  .model-Overlay {
    left: 50%;
  }
}
